# Lecture 9/12/18
Examples from Class. Please feel free to copy and mess with the code.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('/Users/kevin/Dropbox/Github/Classes/IS_485_685/sliced_training.csv')
df.drop(['Unnamed: 0'], axis=1, inplace=True) # Drops Extra 'Unnamed'Column
df.head()

,Index,Account Balance,Duration of Credit (month),Payment Status of Previous Credit,Purpose,Amount,Value Savings/Stocks,Length of current employment,Instalment per cent,Sex & Marital Status,...,Duration in Current address,Most valuable available asset,Age (years),Concurrent Credits,Type of apartment,No of Credits at this Bank,Occupation,No of dependents,Telephone,Foreign Worker
0,845,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,659,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,194,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
3,213,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2
4,625,1,10,4,0,2241,1,2,1,3,...,3,1,48,3,1,2,2,2,1,2

### Conditionals

In [2]:
if df['Index'][0] > 700:
    print('Bigger than 700')
if df['Index'][0] > 800:
    print('Bigger than 800')

Bigger than 700
Bigger than 800

### Notice the difference between using just "if's" and using an elif.
Using elif will process your code faster because there's less conditions for the computer to check.

In [3]:
if df['Index'][0] > 700:
    print('Bigger than 700')
elif df['Index'][0] > 800:
    print('Bigger than 800')

Bigger than 700

### For Loop

In [4]:
for i in df['Index']:
    print(i)

845
659
194
213
625
925
378
906
950
456
755
874
686
607
898
808
879
997
285
644
382
942
78
977
829
954
32
126
176
282
60
719
681
404
894
794
597
8
750
710
855
313
662
230
35
309
493
180
1000
503
648
239
210
36
303
724
690
901
784
136
45
707
71
825
481
214
969
147
122
456
741
2
765
948
93
335
687
416
293
955
301
308
681
522
527
885
740
578
83
859
76
242
943
711
711
203
570
576
832
110
146
955
995
24
253
244
91
43
813
266
363
114
151
554
764
882
141
623
119
364
957
909
658
633
268
566
292
224
88
593
252
407
739
621
549
325
459
802
634
415
981
147
89
1000
610
129
841
785
373
153
712
121
867
500
675
795
132
277
550
84
165
791
125
944
855
555
80
948
701
12
21
931
315
924
769
95
895
585
291
912
254
585
935
508
943
734
461
349
734
292
347
54
103
641
455
568
238
659
391
588
907
727
403
277
703
449
628
829
913
562
510
537
218
105
840
933
844
431
798
661
166
322
30
71
233
1000
981
372
296
929
816
632
437
627
969
833
550
224
91
678
628
476
940
144
115
2
777
772
681
823
738
286
227
995
174
828
667
231
560
773
455
486
283
695
351
632
907
522
23
76
118
41
289
60
39
204
150
857
641
563
580
521
514
287
665
302
759
610
145
735
726
224
295
513
934
342
958
607
549
303
775
430
182
288
785
122
202
645
286
180
401
218
548
881
792
449
131
253
778
527
679
945
673
627
206
905
753
249
424
540
983
367
347
122
673
582
439
125
744
172
15
923
411
375
101
714
802
827
70
467
656
499
565
523
263
716
118
649
244
59
583
50
905
165
756
405
509
398
611
25
620
684
801
77
664
125
735
431
918
504
442
107
50
265
633
726
603
702
99
218
467
501
442
183
511
327
551
441
291
262
553
106
656
368
438
383
252
213
832
474
940
355
241
46
628
252
628
256
302
59
854
736
738
542
433
345
983
99
837
45
895
574
997
895
133
469
443
873
609
316
862
683
46
109
855
174
503
485
536
793
904
715
91
878
118
76
651
780
488
213
682
197
110
666
840
747
858
838
974
291
852
954
183
27
395
556
829
732
684
585
48
597
270
683
926
243
909
795
423
869
369
904
235
108
510
640
860
156
409
634
127
68
193
181
2
209
999
315
820
364
288
559
113
657
514
122
345
633
201
41
447
140
349
488
100
487
28
110
907
451
505
443
144
407
13
308
637
949
806
920
467
657
791
327
455
993
552
163
538
155
391
136
18
254
78
411
610
885
22
178
385
22
860
595
933
429
792
981
945
967
24
957
985
898
987
696
950
602
759
456
992
810
854
212
131
83
657
741
712
489
694
958
839
456
604
256
299
772
432
480
381
846
596
333
946
254
746
752
706
863
535
229
601

### For loop with nested IF conditional

In [5]:
for i in df['Index']:
    if i > 800:
        print(i)

845
925
906
950
874
898
808
879
997
942
977
829
954
894
855
1000
901
825
969
948
955
885
859
943
832
955
995
813
882
957
909
802
981
1000
841
867
944
855
948
931
924
895
912
935
943
907
829
913
840
933
844
1000
981
929
816
969
833
940
823
995
828
907
857
934
958
881
945
905
983
923
802
827
905
801
918
832
940
854
983
837
895
997
895
873
862
855
904
878
840
858
838
974
852
954
829
926
909
869
904
860
999
820
907
949
806
920
993
885
860
933
981
945
967
957
985
898
987
950
992
810
854
958
839
846
946
863

### Loop a Dataframe

In [6]:
for index, row in df.head().iterrows():
    if index > 2:
        print(index) # prints the index of the row
        print(row[0:2])  # prints the FIRST TWO columns of the row

3
Index              213
Account Balance      1
Name: 3, dtype: int64
4
Index              625
Account Balance      1
Name: 4, dtype: int64

### While Loop
Caution: Make sure your loop can end, i.e. with an iterating value

In [7]:
i = 0

while i < 5:
    print(str(i) + " is less than 5")
    i += 1 # If you don't add this it'll run forever, abbreviation for i = i + 1.

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

# Dice Roll Example
This came from a question someone had on Quora and needed help coding up.

In [8]:
import numpy as np


def std_for_dice(number_of_dice_rolls): # This is me "Defining a function" that I named "std_for_dice"
    
    """
    You will often see these inside of a function, they are called doc strings.
    It is simply to explain what the function is going to do.
        
    Input: Number of dice rolls
    Output: Standard deviation of all those rolls.
    """
    
    ### Actual start of the Function
    x = 0 # Initial value of x
    ints_from_rolls = [] # This creates an empty list I plan to populate later in the code
    
    
    while x < number_of_dice_rolls:
        
        k = np.random.randint(1,7) # Randomly selects a number between 1 inclusive and 7 exclusive, i.e. 1-6
        ints_from_rolls.append(k)  # Adds random number to the empty list from above
        x+=1 # Adds 1 to x
        
    std_of_all_rolls = np.std(ints_from_rolls) # Calculates the standard deviation of the entire list.

    return print('List: {}, Std of Rolls: {}'.format(ints_from_rolls, std_of_all_rolls)) # prints the values pretty


# This actually "calls the function std_for_dice"
std_for_dice(6)

List: [5, 1, 3, 5, 3, 3], Std of Rolls: 1.3743685418725535

### Same Function as above without all the fluff

In [9]:
def std_for_dice(number_of_dice_rolls):
    
    x = 0
    ints_from_rolls = []
    
    
    while x < number_of_dice_rolls:
        
        k = np.random.randint(1,7)
        ints_from_rolls.append(k)
        x+=1
        
    std_of_all_rolls = np.std(ints_from_rolls)

    return print('List: {}, Std of Rolls: {}'.format(ints_from_rolls, std_of_all_rolls))

std_for_dice(6)

List: [5, 5, 4, 4, 3, 4], Std of Rolls: 0.6871842709362768

### Random number from a Normal Distribution
The parameters are mean and variance, so 0 & 1 will give a standard normal distribution.

In [10]:
x = np.random.normal(0,1)
x

0.30274817401416193