# Projects

1. Credit Card Debt Repayment Calculator
1. Function Auto Loan Calculator
1. Mortgage Calculator
1. Pull financial data from Yahoo API and do EDA
    1. From year 2017 until current what this the highest the S&P500 has been? What is max volume.
    1. Graph S&P500 Index. Add title and labels.
    1. Calculate percent changes day to day.
    1. Find greatest absolute percentage move in a single day.
    
1. Create a mock Database by creating 4 separate CSV's from Yahoo Finance.
    1. Read in 4 years from 2015-2016, 2016-2017, 2017-2018, 2018-current.
    1. Concatenate and save in a db file using SQLite.
    1. Write a query that pulls only monday, wednesday, fridays.

### Make Dataframe & Split Data & Apply Lambda Function

In [40]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,10,11]})
X = pd.DataFrame(df.iloc[:,:-1])
#X = df.iloc[:,:-1]
y = df.iloc[:,-1]
print('Input: {}'.format(X))
print('Output: {}'.format(y))


# Square entire dataframe using a lambda function & name is square_df
square_df = X.apply(lambda x: x**2)
print(square_df)

# Cube second column using a lambda function

# First way to do it (shorter & cleaner)
#X.loc[:,'col2'] = X.loc[:,'col2'].apply(lambda x: x**3)
X['col2'] = X['col2'].apply(lambda x: x**3)
print(X)

# # Second way to do it (allows you access to values if needed outside of column)
# cube = X['col2'].apply(lambda x: x**3)
# cube_series = pd.Series(cube)
# X['col2'] = cube_series.values
# print(X)

# Print elements in column 2 of X.
for i in X['col2']:
    print(i+1)
    
# Print elements using list comprehension
new_list = [i+1 for i in X['col2']]
new_list

Input:    col1  col2
0     1     4
1     2     5
2     3     6
3     4     7
4     5     8
Output: 0     7
1     8
2     9
3    10
4    11
Name: col3, dtype: int64
   col1  col2
0     1    16
1     4    25
2     9    36
3    16    49
4    25    64
   col1  col2
0     1    64
1     2   125
2     3   216
3     4   343
4     5   512
65
126
217
344
513

[65, 126, 217, 344, 513]

### Debt Calculator

In [1]:
principal = int(input('How much debt you got? '))
interest = int(input("What's your interest rate? "))
years = int(input("How many years you gonna sit in this hole? "))

def amountofdebt(principal, interest, years):
    
    total_owed = principal*(1 + interest/100)**years
    monetary_interest = total_owed - principal
    
    print('You owe {:.2f} extra dollars because you wont pay it off'.format(monetary_interest,2))
    
    return

amountofdebt(principal, interest, years)

How much debt you got? 5000
What's your interest rate? 8
How many years you gonna sit in this hole? 4
You owe 1802.44 extra dollars because you wont pay it off

### Yahoo Finance API

In [2]:
import pandas as pd
import numpy as np
import datetime
from pandas_datareader.data import DataReader

def read_data(ticker, data_source, start_date, end_date):
    
    df = DataReader(ticker, data_source, start_date, end_date)
    
    return df


end_date = datetime.datetime.today().strftime('%Y-%m-%d')
ticker = '^GSPC'

SPX = read_data(ticker, 'yahoo', '2017-01-01', end_date)
SPX.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-07-26,2835.489990,2845.570068,2835.260010,2837.439941,2837.439941,3653330000
2018-07-27,2842.350098,2843.169922,2808.340088,2818.820068,2818.820068,3415710000
2018-07-30,2819.000000,2821.739990,2798.110107,2802.600098,2802.600098,3245770000
2018-07-31,2809.729980,2824.459961,2808.060059,2816.290039,2816.290039,3892100000
2018-08-01,2821.169922,2825.830078,2805.850098,2813.360107,2813.360107,3496990000

### Quant Hedge Fund Interview Question

#### Count Votes & select winner
* Count votes from a list of people
* Make it generalizable so that if any people tie in votes the member with the lowest priority in the alphabet wins. Example: If both John & Paul tie for the highest votes, then Paul wins because his name is alphabetically last.

In [ ]:
from collections import Counter

# Example List
votes = ['Alex', 'Michael', 'Harry', 'Dave', 'Michael', 'Victor', 'Harry', 'Alex', 'Mary', 'Mary']

def electionWinner(votes):
    
    count_dict = Counter(votes)
    
    for key,value in count_dict.items():
        x = sorted(count_dict.values(), reverse=True)[0]
    
    alpha = []
        
    for key,value in count_dict.items():
        if value == x:
            alpha.append(key)
            
    return sorted(alpha)[-1]

electionWinner(votes)

### Get Requests (Additional Hedge Fund Question)

In [17]:
#import urllib.request
import requests

def getMovieTitles(substr,pageNumber):
    
    r = requests.get("https://jsonmock.hackerrank.com/api/movies/search/?Title={}&page={}".format(substr,pageNumber))
    json_dict = r.json()
    data = json_dict['data']
    
    titles = []
    
    for i in data:
        print(i['Title'])
        
    return 'END PAGE {}'.format(pageNumber)

print(getMovieTitles('Spiderman',1))
print(getMovieTitles('Spiderman',2))

Italian Spiderman
Superman, Spiderman or Batman
Spiderman
Spiderman
Fighting, Flying and Driving: The Stunts of Spiderman 3
Spiderman and Grandma
The Amazing Spiderman T4 Premiere Special
Amazing Spiderman Syndrome
Hollywood's Master Storytellers: Spiderman Live
Spiderman 5
END PAGE 1
They Call Me Spiderman
The Death of Spiderman
Spiderman in Cannes
END PAGE 2

### Dice Roll(s)
* Calculate the Standard Deviation of n dice rolls.
* Question came from Quora.

In [ ]:
def std_for_dice(number_of_dice_rolls):
    
    x = 0
    ints_from_rolls = []
    
    
    while x < number_of_dice_rolls:
        
        k = np.random.randint(1,7)
        ints_from_rolls.append(k)
        x+=1
        
    std_of_all_rolls = np.std(ints_from_rolls)

    return print('List: {}, Std of Rolls: {}'.format(ints_from_rolls, std_of_all_rolls))

### Check if an array has it's own Data
* If OWNDATA = False, then arrays occupy the same space in memory

In [12]:
import numpy as np
x = np.array(range(10))
y = np.array(range(10))
z = np.vstack([x,y])
k = np.concatenate([x,y])
print(x.flags)
# print(y)
# print(y.flags)
print(z)
print(k)

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : True
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False
[[0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]]
[0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9]

### Reading & Querying a Database into a dataframe in Python

In [34]:
# Putting Queries into Pandas Dataframes
import sqlite3
import pandas as pd
import numpy as np
import time
import datetime

#Connecting to local DB
conn = sqlite3.connect('/Users/kevin/Dropbox/Fat Tail Trading & Research/Data/iVolatility.db')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

#Queries on tables in DB
Q3_2016_df = pd.read_sql_query("""SELECT * FROM Q3_2016 WHERE Symbol='SPX' AND Trade_time < '10:00:00'""", conn)
conn.commit()
conn.close()
#Takes roughly 40-60 seconds, be patient
Q3_2016_df.head()

[('Q3_2016',), ('Q4_2016',), ('Q1_2017',), ('OptTotal',)]